* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  min-width: min-content;
}

body {
  margin: 0;
  padding: 10px;
  min-width: 1024px;
  min-height:726px;
}

footer {
  background-color: #1D3557;
  margin: 0;
  padding: 10px;
  min-width: 1024px;
  min-height: 10em;
}

nav {
  display: flex;
  background: #A8DADC;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: transparent;
}

h1, h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h3 {
  color: #E63946;
  font-weight: 700;
}

h4 {
  color: #000000;
  font-weight:700;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*--------------NAV BAR--------------*/
.home-view-button {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: #A8DADC;
}

.favorites-view-button {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #A8DADC;
}

.search-wrapper {
  align-content: center;
  width: 73%;
}

.greeting {
  margin: 1em;
}

.search-section {
  display: flex;
  margin: 1em;
  width: 96%;
}

.search-input {
  opacity: 0.7;
  width: 95%;
}

.search-button {
  padding: 0;
  width: 4em;
  height: 4em; 
  background: #E63946;
  border-bottom-right-radius: 0.15em;
  border-top-right-radius: 0.15em;
}
/*--------------HOME VIEW--------------*/
.home-view {
  padding: 1em 1em 1em 1em;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  background-color: #457B9D;
  width: 95%;
  overflow: hidden;
}
.recipe-name {
  margin-bottom: 0em;
}

.recipes-heading {
  margin-left: 1.37em;
  color: #ffffff;
  background: #457B9D;
  margin-bottom: 0em;
  padding: 0.75em;
  border-top-right-radius: 15em;
  width: 45%;
  align-self: flex-start;
}

.default {
  width: 10rem;
  height: 15rem;
}

.category {
  text-align: center;
  background-color: #ffffff;
}

.category-recipe  {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
}

.recipe-picture {
  width: 100%;
}

.placeholder-image {
  position:relative;
  opacity: 45%;
  width: 100%
}
/*--------------SINGLE CAT VIEW--------------*/
.single-category-view {
  padding: 1em 1em 1em 1em;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  width: 95%;
  background-color: #457B9D;
}
/*--------------RECIPE VIEW--------------*/

.recipe-view {
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: 25% 25% 25% 25%;
  background: #A8DADC;
  width: 95%;
}

.card-wrapper {
  margin:2em;
}

.recipe-container {
  border: 2px solid #1D3557;
  background: #ffffff;
}

.single-recipe-picture {
border: 5px solid #1D3557;
 width:100%;
}

.recipe-image {
  position: relative;
  width: 100%;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.directions-section {
  text-align: center;
  grid-column: 2 / span 2 ;
  grid-row: 2 ;
}

.directions-list {
  margin: 0em;
  text-align: left;
}

.needed-items-section {
  border: 2px solid #1D3557;
  text-align: center;
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
  background: #ffffff;
}

.needed-items-list {
  margin: 1em;
  text-align: left;
}

.ingredient-section {
  text-align: center;
  grid-column: 1 ;
  grid-row: 2 ; 
}

.ingredient-list {
  text-align: left;
  margin: 0.5em;
}

.shopping-list-price {
  color: #000000;
  background: #A8DADC;
  padding: 1em;
  font-style: oblique;
  font-weight: bold;
}

.make-recipe {
  padding: 1em;
    position: absolute;
    transform: translate(38em, 1em);
    z-index: 1;
    font-weight: bold;
    height: 3em;
    background: #E63946;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

:hover.make-recipe {
  background: #ffffff;
}
/*--------------General & IDs--------------*/


#logo {
  width: 4em;
}

#magnifying-glass {
  margin-top: 0.27em;
  width: 2em;
}

#whisk {
  width: 4em;
}

#favorite {
  position: absolute;
  filter: invert(32%) sepia(80%) saturate(4603%) hue-rotate(340deg) brightness(97%) contrast(85%);
  right: 1em;
  width: 10%;
}

#favorite.active {
  position: absolute;
  right: 1em;
  width: 10%;
}

#glove {
  position: absolute;
  opacity: 100%;
  width: 21%;
  z-index: 1;
  transform: translate(67%, 31%);
}

#bold {
  font-style: oblique;
  font-size: xx-large;
  margin: 0.5em;
}

.hidden {
  display: none;
}