* {
  border: 1px solid black;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 10px;
  min-width: 1024px;
  min-height:726px;
}

nav {
  display: flex;
  background: #A8DADC;

}

main {
  display: flex;
  flex-direction: column;
}

button {
  border: transparent;
}

h1, h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h3 {
  color: #E63946;
  font-size: 800;
  font-style: bold italic;
}

.recipe-name {
  padding-left: 1em;
  margin-bottom: 0em;
}

.home-view-button {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: #A8DADC;

}

.favorites-view-button {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #A8DADC;

}

.search-wrapper {
  align-content: center;
  width: 73%;
}

.greeting {
  margin: 1em;
}

.search-section {
  display: flex;
  margin: 1em;
  width: 96%;
}

.search-input {
  opacity: 0.7;
  width: 95%;
}

.search-button {
    padding: 0;
    width: 4em;
    height: 4em; 
    background: #E63946;
    border-bottom-right-radius: 0.15em;
    border-top-right-radius: 0.15em;
}

.recipes-heading {
  color: #ffffff;
  background: #457B9D;
  margin-bottom: 0em;
  padding: 0.75em;
  border-top-right-radius: 15em;
  width: 45%;
}

.recipe-image {
  width: 10rem;
  height: 15rem;
}

.default {
  width: 10rem;
  height: 15rem;
}

.category {
  text-align: center;
  background-color: #ffffff;
}
  
.category-recipe  {
  position: relative;
  background-color: #ffffff;
  width: 100%;
}

.recipe-picture {
  width: 100%;
}

.placeholder-image {
  position:relative;
  opacity: 45%;
  width: 100%
}

.single-category-view {
  padding: 1em 1em 1em 1em;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  background-color: #457B9D;
}

.home-view {
  padding: 1em 1em 1em 1em;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  background-color: #457B9D;
}

.container {
  border: 2px solid #1D3557;
  background: #ffffff;
}

#logo {
  width: 4em;
}

#magnifying-glass {
  margin-top: 0.27em;
  width: 2em;
}

#whisk {
  width: 4em;
}

#favorite {
  position: absolute;
  filter: invert(32%) sepia(80%) saturate(4603%) hue-rotate(340deg) brightness(97%) contrast(85%);
  right: 1em;
  width: 10%;
}

#favorite.active {
  position: absolute;
  right: 1em;
  width: 10%;
}

#glove {
  position: absolute;
  opacity: 100%;
  width: 21%;
  z-index: 1;
  transform: translate(67%, 31%);
}

.hidden {
  display: none;
}


